/* -- universal styles -- */
html {
    font-size: 20px;
}

/* -- Body --*/

body {
    font-family: "Open Sans", sans-serif;
    color: black;
    background-color:white;
    text-align:left;
    padding: 3%;
    
  }

  .main {
    margin: 2em;
  }

p {
    font-size: 1rem;
  }



/* -- Headings --*/

    h1{
        font-size: 2rem;
    }

    h2{
        font-size: 1.5rem;
        margin-top: 2.5rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    h4 {
        font-size: 1rem;
    }

    h5 {
        font-size: 0.8rem;
    }

    h6 {
        font-size: 0.6rem;
    }

/* --Navigation --*/

    nav {
        display: flex;
        flex-flow: row wrap;
        flex-basis: auto;
        justify-content: center;
        align-items: flex-start; 
        background-color: lightgray;
    } 

    nav li {
        display: inline-block;
        padding-left: 0.5rem;  
    }

    nav a {
        display: block;
    }


/* --About me and coding sections --*/
    .about  {
        height: auto;
        width: auto;
        display:flex;
        background-color: lightgray;
        flex-flow: row wrap; 
    }


    .about img {
  float: left; /* Float the image to the left */
  margin-right: 10px; /* Add some space between the image and text */
}

    .about p {
  flex-grow: 1; /* Allow the paragraph to grow and take up remaining space */
}


    .about img, .coding img{
        max-width: 20rem;
        max-height: 15rem;
        margin-top: 1rem;
    }

    /*
    .about span, .coding span {
        font-size: 0.4rem;
    }
    */

    .coding {
        height: auto;
        width: auto;
        display:flex;
        background-color: whitesmoke;
        flex-flow: column wrap; 
    }

    

/* -- Projects section --*/

    .projects {
        display: flex;
        flex-flow: row wrap;
        background-color: lightgray;
        justify-content: center;
        align-items: flex-start;
    }

    .proj_heading {
        width: 100%;

    }
     
    .examples {
        flex: 1 1 25%;
        align-content:center;
        flex-basis: auto;
    }

    .examples img {
        max-width: 400px;
        max-height: 200px;
        margin-top: 2rem;
      }

      .examples p { 
        justify-self: flex-end;
        align-self: flex-end;
        font-size: 0.4rem;
      }

/* -- Skills section --*/

    .skills {
        height: 100px; 
        width: auto;
        display: flex;
        flex-flow: row wrap;
        background-color: whitesmoke;
    }

    .skills_header {
        flex-wrap: wrap; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ican {
        flex: 1 1 16%;
    }

    .ican img {
        max-width: 4rem;
        max-height: 2rem;
        margin-top: 1rem;
    }

    .ican span {
        line-height: 0.5rem;
        font-weight: 600;
      }

/*  --  Options and pics  --  */
  
    .options {
      display:flex;
      margin-bottom: 1rem;
      padding: 1rem 0.5rem;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
    }
  
    .option {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
    }
  
    .option img {
      max-width: 400px;
      max-height: 200px;
      margin-top: 2rem;
    }
  
    .option p { 
      justify-self: flex-end;
      align-self: flex-end;
      font-size: 0.5rem;
    }
  
    .option span {
      line-height: 0.5rem;
      font-weight: 500;
    }




/* -- Footer section --*/
    footer {
        height: auto;
        width: auto;
        display:flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: center; 
        flex-basis: auto;
    }

/* -- --*/